# .env.example (GitHub 업로드)
# Environment file (.gitignore)
# .env
# .env.*
# !.env.example

# 1. 숲나들e URL
## 추첨 신청 (월 추첨)
## 선착순 예약 (청도자연휴양림 D+30)
## 월별현황 조회
DRAW_URL = "https://www.foresttrip.go.kr/rep/drlts/month/drltsMain.do?hmpgId=FRIP&menuId=001003002"
FIRST_URL = "https://www.foresttrip.go.kr/rep/or/sssn/fcfsRsrvtSmplPssblGoodsDetls.do?_csrf=7d4e7e84-d5f9-42c3-9e72-d311721fb65a&netfunnel_key=50C7ED7FED3F89ADDACCCEF3760BAFE7C803B31FCF66E75E8A252379885E811D407429C2AC9B02203BF93AF9A4692B21C6D48AECFC32CBC9119DBC5934339CF6559C01BA4D3F4CD8C2EA8571C1C80B31AA8952C900AB807866410579BE057F4836CC07A60445CE07A66A00EDEFAC45E82C312C302C30&srchInsttArcd=7&srchInsttId=ID02030116&srchRsrvtBgDt=20260823&srchRsrvtEdDt=20260824&srchStngNofpr=1&srchSthngCnt=1&srchWord=&srchUseDt=&houseCampSctin=&rsrvtPssblYn=N&rsrvtWtngSctin=01&srchHouseCharg=&srchCampCharg=&goodsClsscHouseCdArr=&goodsClsscCampCdArr=&srchInsttTpcd=&cmdogYn=N&bbqYn=N&dsprsYn=N&otsdWeterYn=N&wifiYn=N&snowPlaceYn=N&srchMyLtd=&srchMyLng=&srchDstnc=&gNowPage=1&srchGoodsId=&hmpgId=FRIP"
MONTH_URL = "https://www.foresttrip.go.kr/rep/or/sssn/monthRsrvtSmplStatus.do"

# 2. 글로벌 설정 값 (데이터 그림파일, 여백 제거, 폴더 경로)
## 학습데이터 그림파일 크기
IMG_WIDTH = 130
IMG_HEIGHT = 35
## 학습데이터 그림파일 내 숫자 파트
DEL_WIDTH_L = 8 # 좌여백 제거량
DEL_WIDTH_R = 14 # 우여백 제거량
DEL_WIDTH_B = 9 # 하여백 제거량
COUNT_OF_NUMBER = 6 # 글자수

# 3. ID / PW
USER_ID=""
USER_PASSWORD=""